JAVA_OPTS="${JAVA_OPTS} \
  -Dfile.encoding=UTF-8 \
  -Dfcrepo.home={{ fcrepo_home }} \
  -Dfcrepo.modeshape.configuration=classpath:/config/file-simple/repository.json \
  -Dfcrepo.activemq.configuration=file:{{ fcrepo_config_dir }}/activemq.xml \
  -Dfcrepo.ispn.configuration={{ fcrepo_config_dir }}/infinispan.xml \
  -Dfcrepo.auth.webac.authorization={{ fcrepo_config_dir }}/root-authentication.ttl \
  -Dfcrepo.spring.audit.configuration=file:{{ fcrepo_config_dir }}/audit.xml \
  -Dlogback.configurationFile={{ fcrepo_config_dir }}/logback.xml \
  -Dfcrepo.ispn.alternative.cache=ispn.alt.cache \
  -Dfcrepo.ispn.binary.cache=ispn.binary.cache \
  -Dfcrepo.ispn.cache=ispn.cache \
  -Dfcrepo.ispn.binary.alternative.cache=ispn.binary.alt.cache \
  -Dfcrepo.ispn.repo.cache=ispn.repo.cache \
  -Dfcrepo.modeshape.index.directory=modeshape.index \
  -Dfcrepo.binary.directory=binary.store \
  -Dfcrepo.activemq.directory=activemq \
  -Dcom.arjuna.ats.arjuna.common.ObjectStoreEnvironmentBean.default.objectStoreDir=arjuna.common.object.store \
  -Dcom.arjuna.ats.arjuna.objectstore.objectStoreDir=arjuna.object.store \
  -Dnet.sf.ehcache.skipUpdateCheck=true \
  -Dfcrepo.audit.container=/audit \

  # GC Configuration
  -XX:+UseConcMarkSweepGC \     # for smaller (< 4 GB) heaps
  -XX:+CMSClassUnloadingEnabled \ # for use with UseConcMarkSweepGC
  # -XX:+UseG1GC \                # for larger (> 4 GB) heaps
  -XX:ConcGCThreads=5 \
  -XX:MaxGCPauseMillis=200
  -XX:ParallelGCThreads=20 \

  # Memory usage
  -XX:MaxMetaspaceSize=512M \
  -Xms{{ minimum_heap_size }}m \                   # minimum heap size
  -Xmx{{ maximum_heap_size }}m"                    # maximum heap size
